*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.log_det h1{
     padding-top: 5%;
     padding:20px; 
     font-weight: bolder;
     
    
}


.log_det input {
    border-radius: 9px;
    border-width: 3px;
    border-color: rgb(85, 77, 80); 
    height: 45px;
    width:250px;
    margin-top: 15px;
    
    
    
}
.log_det a{
    padding-top: 20px;
}

.log_form{
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    width: 100vw;
    height:100vh;
    
    /* background-color: rgb(135, 130, 124); */
    border-radius: 10px;
    
}
.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image covers the whole viewport */
    z-index: 1;
}

.log_det{
    display: flex;
    padding-top: 26px;
    flex-direction: column;
    margin-left:300px;
    margin-right: 450px;
    width:40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    
    height: 70%;
    border-radius: 20px;
    background: linear-gradient(to right,#ffffff,#999998);
    
    background-color: rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(153, 153, 152, 0.5)); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    margin-top: 40px;
    
}
.log_det button{
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 14px;
    height:45px;
    width:100px;
    background: #ffae00;
    border-width:3px;
    color: aliceblue;
    font-weight: bolder;
    
}
.log_det button:hover{
    background-color:#ff8400;
    
    color: azure;
}


.log_det h5{
    padding-top:8px;
    padding-bottom: 10px;
}
/* Medium screens (tablets, 768px and up) */
