.loading-text {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #6c757d; /* Subtle gray for loading text */
    font-weight: bold;
  }
  
  .live_details {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333; 
  }
  
  .text-success {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #28a745; /* Green color for financial data */
    font-weight: bold;
  }
  